<div class="">
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="navbar-toggle">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="glyphicon glyphicon-option-vertical"></i></a>
            <ul class="dropdown-menu">

              <li class="dropdown-header">Preferences</li>
              <li><a [routerLink]="['/Home']">My Notes</a></li>
              <li><a [routerLink]="['/Archive']">Archive Notes</a></li>   
              <li><a href="javascript:void(0)" [routerLink]="['/Bin']">Recycle Bin</a></li>                       
              <li role="separator" class="divider"></li>
              <li>
                <a href="javascript:void(0)" (click)="displayTypeChange()">
                  {{displayList ? 'Grid View' : 'List View'}}
                </a>
              </li>
              <li><a href="javascript:void(0)">Settings</a></li>
            </ul>
          </li>
        </ul>
        <a class="navbar-brand" href="javascript:void(0)">Notes</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="javascript:void(0)" (click)="displayTypeChange()">
              <i class="{{displayList ? 'fa fa-bars' : 'fa fa-th'}}"></i>
            </a>
          </li>
          <li class="dropdown">
            <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-option-vertical"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Preferences</li>
              <li><a href="javascript:void(0)" [routerLink]="['/Home']">My Notes</a></li>
              <li><a href="javascript:void(0)" [routerLink]="['/Archive']">Archive Notes</a></li>
              <li><a href="javascript:void(0)" [routerLink]="['/Bin']">Recycle Bin</a></li>              
              <li class="divider"></li>
              <li><a href="javascript:void(0)">Settings</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <spinner *ngIf="spinner"></spinner>
  <div class="{{ displayList ? 'container note' : 'container note grid-container'}}" [dragula]='"another-bag"' [dragulaModel]='notes'>
    <div *ngFor='let text of notes' class="{{ displayList ? 'panel panel-default ' + text.doc.color : 'panel panel-default grid-item ' + text.doc.color}}" #noteRow [attr.id]="text.doc._id">
      <div data-toggle="modal" [attr.data-target]="'#note' + text.doc._id" (click)="editModalNoteClick(text)">
        <div class="panel-body my-note module line-clamp">
          <p><strong>{{text.doc.title}}</strong></p>
          <p> {{text.doc.note}} </p>
        </div>
      </div>
      <div class="{{ 'panel-footer ' + text.doc.color}}">
        <ul class="note-footer">
          <li><a href="javascript:void(0)" class="btn btn-link btn-raised"
             title="Unarchive" (click)="unArchive(text, noteRow)">
            <i class="fa fa-upload"></i>        
          </a></li>
          <li class="dropup">
            <a data-target="#" class="btn btn-link btn-raised dropup"
              title="Color" data-toggle="dropdown">
              <i class="fa fa-th-large"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)" (click)="setNoteColor('label-default', text)" class="btn btn-default btn-fab-mini"><i class=""></i></a></li>
              <li><a href="javascript:void(0)" (click)="setNoteColor('label-primary', text)" class="btn btn-primary btn-fab-mini"><i class=""></i></a></li>
              <li><a href="javascript:void(0)" (click)="setNoteColor('label-success', text)" class="btn btn-success btn-fab-mini"><i class=""></i></a></li>
              <li><a href="javascript:void(0)" (click)="setNoteColor('label-info', text)" class="btn btn-info btn-fab-mini"><i class=""></i></a></li>
              <li><a href="javascript:void(0)" (click)="setNoteColor('label-warning', text)" class="btn btn-warning btn-fab-mini"><i class=""></i></a></li>
              <li><a href="javascript:void(0)" (click)="setNoteColor('label-danger', text)" class="btn btn-danger btn-fab-mini"><i class=""></i></a></li>
              <li><a href="javascript:void(0)" (click)="setNoteColor('label-darkgray', text)" class="btn btn-darkgray btn-fab-mini"><i class=""></i></a></li>
              <li><a href="javascript:void(0)" (click)="setNoteColor('label-primary-old', text)" class="btn btn-primary-old btn-fab-mini"><i class=""></i></a></li>              
            </ul>
          </li>
          <li><a href="javascript:void(0)" class="btn btn-link btn-raised"
             title="Delete" (click)="deleteNote(text, noteRow)">
            <i class="fa fa-trash"></i>          
          </a></li>
        </ul>
      </div>
      <div class="modal fade" id="{{'note' + text.doc._id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="{{'modal-content edit-saved ' + text.doc.color}}">
            <div class="modal-header">
              <h4 class="modal-title">
                <div class="form-group label-floating">
                <input type="text" class="form-control edit-saved-input" placeholder="Title" [(ngModel)]="editNoteDraft.title" [value]="text.doc.title ? text.doc.title : ''" >
                </div>                
              </h4>
            </div>
            <div class="modal-body">
              <textarea class="form-control edit-saved-textera" #editSavedTextarea modaleditorautosize placeholder="Write a note" [(ngModel)]="editNoteDraft.note" [value]="text.doc?.note"></textarea>              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" (click)="updateModalNote(text)">Done</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <simple-notifications [options]="notificationOptions"></simple-notifications>
  <div class="container empty-notes-container" *ngIf="emptyHtmlMsg">
    <div class="empty-notes-icon empty-archive"></div>
    <div class="empty-notes">Your archived notes appear here</div>
  </div>
</div>