doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Preserver
    base(href="/")
    link(href="css/bootstrap.min.css" rel="stylesheet")
    link(href="css/roboto.min.css" rel="stylesheet")
    link(href="css/material.min.css" rel="stylesheet")
    link(href="css/ripples.min.css" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/animate.css")    
    link(rel="stylesheet" type="text/css" href="css/index.css")
  body
    block content
