.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal .modal-body {
   max-height: 775px !important;
   overflow: hidden !important;
}

.edit-saved-input {
  background-image: linear-gradient(#009688,#009688)!important;
  font-family: 'Roboto Condensed','Droid Sans',arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  min-height: 38px;  
}

.edit-saved-textera {
  background-image: none;  
  word-wrap: break-word;
  font-size: 17px;
  height: auto;
  overflow-y: auto;
  resize: none !important;
 }

.edit-saved .modal-header {
  padding-left: 14px !important;  
} 

.modal-content .modal-body {
  padding: 0px 0px 5px 14px!important;
}

// *, *:before, *:after {
//   box-sizing: border-box !important;
// }

.grid-container {
  -moz-column-width: 16em;
  -webkit-column-width: 16em;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.grid-item {
  display: inline-block;
  width: 100%;
}

.notes-notifications {
  background: rgb(50, 50, 50) !important;
  direction: ltr !important;
  transition: all 1s ease-in !important;
}

.notes-notifications .title {
  padding: 0px 0px 0px 50px !important;
}

.simple-notification-wrapper {
  right: 0px !important;
  left: 20px !important;
}

@media screen and ( min-height: 900px ){
  .edit-saved-textera {
    min-height: 750px !important;    
  }
}

@media screen and ( min-height: 700px ){
  .edit-saved-textera {
    min-height: 600px !important;    
  }
}

@media screen and ( min-height: 500px ){
  .edit-saved-textera {
    min-height: 500px !important;    
  }
}

@media screen and ( min-height: 400px ){
  .edit-saved-textera {
    min-height: 400px !important;    
  }
}