<about>

  <aside class="profile-card">

    <header>

      <a href="#" [routerLink]="['/Home']">
        <img src="/logo.png" />
      </a>

      <h1>Preserver</h1>

      <h2>Preserver is an notes organizer desktop app based on Electron. developed by Hitesh Balar</h2>

    </header>

    <div class="profile-bio">

      <p>Organize your life with preserver application for keeping track of notes, tasks, and to-do lists.</p>

    </div>

    <ul class="profile-social-links">

      <li>
        <a href="#" [routerLink]="['/Home']">
          <i class="fa fa-arrow-left"></i>
        </a>
      </li>

      <li>
        <a href="https://github.com/hsbalar/Preserver" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/Hsbalar" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>

    </ul>
  </aside>
</about>
