<about>

  <aside class="profile-card">

    <header>

      <a href="http://www.hiteshbalar.com/">
        <img src="/avatar.jpg" />
      </a>

      <h1>Hitesh Balar</h1>

      <h2>Full Stack Developer</h2>

    </header>

    <div class="profile-bio">

      <p>It's not who I'm underneath but what I do that defines Me</p>

    </div>

    <ul class="profile-social-links">

      <li>
        <a href="https://facebook.com/hsbalar" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>

      <li>
        <a href="https://github.com/hsbalar" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/Hsbalar" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>

    </ul>
    <br>
    <div class="back">
      <a href="#" [routerLink]="['/Home']">
        <i class="fa fa-arrow-left"></i>
      </a>
    </div>
  </aside>
</about>
